#!/bin/bash -x

HOME_DIR=/home/ubuntu
DEVSTACK_GIT_URL=git://git.openstack.org/openstack-dev/devstack.git

sudo mv $HOME_DIR/77timeoutextend /etc/apt/apt.conf.d/77timeoutextend
sudo chown root.root /etc/apt/apt.conf.d/77timeoutextend
sudo chmod 644 /etc/apt/apt.conf.d/77timeoutextend

sudo mkdir -p /var/log/journal
sudo systemctl restart systemd-journald
sleep 20

# Clone devstack
DEVSTACK_DIR=$HOME_DIR/devstack
git clone $DEVSTACK_GIT_URL $DEVSTACK_DIR
cp $HOME_DIR/local.conf $DEVSTACK_DIR/local.conf


# Run stack.sh
sudo sysctl -w kernel.randomize_va_space=0
sudo apt update
cd $DEVSTACK_DIR
git checkout {{ zuul_branch }}
./stack.sh
RET_DEVSTACK=`echo $?`
if [ $RET_DEVSTACK -ne 0 ];
then
    echo "Building compute node was invalid."
    exit 1
fi

# Confirm and restart neutron-spp-agent
sleep 240
RET_SPP_AGT=`journalctl --no-pager --unit devstack@q-spp-agt|grep "Agent initialized successfully"|wc -l`
COUNT=0
while [ $RET_SPP_AGT -eq 0 ]
do
    if [ $COUNT -eq 3 ];
    then
        echo "Building compute node was invalid."
        exit 1
    fi

    sudo systemctl restart devstack@q-spp-agt
    sleep 240
    RET_SPP_AGT=`journalctl --no-pager --unit devstack@q-spp-agt|grep "Agent initialized successfully"|wc -l`
    COUNT=`expr $COUNT + 1`
done

# Change libvirt setting
sudo sed -i -e 's/#security_driver =.*/security_driver = "none"/' /etc/libvirt/qemu.conf
sudo systemctl restart libvirtd.service
RET_LIBVIRT=`echo $?`

# Confirm result
if [ $RET_LIBVIRT -eq 0 ];
then
    echo "Building compute node was valid."
    exit 0
else
    echo "Building compute node was invalid."
    exit 1
fi
