#!/bin/bash -x

HOME_DIR=/home/ubuntu
DEVSTACK_GIT_URL=git://git.openstack.org/openstack-dev/devstack.git

sudo mv $HOME_DIR/77timeoutextend /etc/apt/apt.conf.d/77timeoutextend
sudo chown root.root /etc/apt/apt.conf.d/77timeoutextend
sudo chmod 644 /etc/apt/apt.conf.d/77timeoutextend

sudo mkdir -p /var/log/journal
sudo systemctl restart systemd-journald
sleep 20

# Clone devstack
DEVSTACK_DIR=$HOME_DIR/devstack
git clone $DEVSTACK_GIT_URL $DEVSTACK_DIR
cp $HOME_DIR/local.conf $DEVSTACK_DIR/local.conf

# Run stack.sh
sudo apt update
cd $DEVSTACK_DIR
git checkout {{ zuul_branch }}
./stack.sh
RET_DEVSTACK=`echo $?`

# Confirm result of stack.sh
if [ $RET_DEVSTACK -eq 0 ];
then
    echo "stack.sh is valid."
    exit 0
else
    echo "stack.sh is invalid."
    exit 1
fi
