[[local|localrc]]
HOST_IP={{ hostvars['controller1']['nodepool']['public_ipv4'] }}
SERVICE_IP={{ hostvars['controller1']['nodepool']['public_ipv4'] }}
ADMIN_PASSWORD=stack
MYSQL_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
ADMIN_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SERVICE_TOKEN=$ADMIN_PASSWORD
LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS=2

DEFAULT_IMAGE_NAME=ubuntu-dpdk
Q_AGENT=linuxbridge
enable_plugin networking-spp https://git.openstack.org/openstack/networking-spp {{ zuul_ref }}
enable_plugin neutron-tempest-plugin https://github.com/openstack/neutron-tempest-plugin master

SPP_MODE=controller

BUILD_TIMEOUT=600

disable_service n-cpu n-novnc n-cauth
disable_service c-sch c-api c-vol
# disable_service tempest
disable_service heat
disable_service horizon
enable_service etcd3

[[post-config|$NEUTRON_CONF]]
[DEFAULT]
service_plugins=router

[[post-config|/$Q_PLUGIN_CONF_FILE]]
[ml2]
type_drivers=flat,vxlan,vlan
tenant_network_types=vxlan
mechanism_drivers=linuxbridge,spp

[agent]
tunnel_types=vxlan
l2_population=False

[ml2_type_vxlan]
vni_ranges=1200:1299

[ml2_type_flat]
flat_networks=public,phys1

[ml2_type_vlan]
network_vlan_ranges=phys2:500:599

[linux_bridge]
# physical_interface_mappings=phys1:ens4,phys2:ens5
bridge_mappings=public:br-ex
