#!/bin/bash -x

# Discover compute nodes
source /home/ubuntu/devstack/openrc admin
sudo nova-manage cell_v2 discover_hosts
openstack hypervisor list

# Confirm neutron-spp-agent
SPP_AGT_NUM=0
COUNT=0
while [ $SPP_AGT_NUM -lt 2 ]
do
    SPP_AGT_NUM=`openstack network agent list|grep "SPP neutron agent"|wc -l`
    COUNT=`expr $COUNT + 1`
    if [ $COUNT -eq 200 ];
    then
        echo "Running tempest was invalid."
        exit 1
    fi
    sleep 3
done

# Run tempest
cd /opt/stack/tempest
stestr init
tox -e all-plugin -- networking_spp.tests.tempest.scenario --serial --subunit > results.subunit
subunit2html results.subunit

TEMPEST_RESULT1=`grep "td.*failCase" results.html|wc -l`
TEMPEST_RESULT2=`grep "td.*errorCase" results.html|wc -l`
TEMPEST_RESULT=`expr $TEMPEST_RESULT1 + $TEMPEST_RESULT2`

echo $TEMPEST_RESULT

if [ $TEMPEST_RESULT -eq 0 ];
then
    echo "Running tempest was valid."
    exit 0
else
    echo "Running tempest was invalid."
    exit 1
fi
